# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Vector Database
vector_db/

# Frontend
frontend/node_modules/
frontend/.cache/
frontend/dist-ssr/
frontend/*.local

# OS
.DS_Store
Thumbs.db
